[2019-04-08 14:42] gig397 opened #1 "Updates"
I am new with Git. So don't know the question answering process here.
But I am having an issue in saving a file.
I have to save all resulting JSON to single CSV.
Can you guys help me with that?

[2019-04-08 22:07] leonardiwagner commented on #1
Hi @gig397 , this is the exactly perfect place to ask questions!

Can you guys help me with that?

Sure, in the `src/saveProfile.js` file you receive the `content` parameter containing all data from a profile to save in any format (JSON, CSV, etc..) , so you could append to your csv file instead of creating a new file to each profile, example:

[code]
reference: [How to append to a file in Node?](

[2019-04-17 09:19] stxts opened #2 "(node:11136) UnhandledPromiseRejectionWarning: Error: Failed to launch chrome!"
$ npm start

(node:11136) UnhandledPromiseRejectionWarning: Error: Failed to launch chrome!
dlopen /Users/st/Desktop/panya/scrapedin-linkedin-crawler/node_modules/puppeteer/.local-chromium/mac-641577/chrome-mac/Chromium.app/Contents/MacOS/../Versions/75.0.3738.0/Chromium Framework.framework/Chromium Framework: dlopen(/Users/st/Desktop/panya/scrapedin-linkedin-crawler/node_modules/puppeteer/.local-

[2019-04-17 09:52] songthamtung commented on #2
work around is to downgrade puppeteer to 1.13.0

https://github.com/GoogleChrome/puppeteer/issues/4286#issuecomment-483385628

[2019-04-30 11:01] #1 closed, assigned to nobody

[2019-04-30 11:36] leonardiwagner commented on #2
I set 1.13 as default version on scrapedin and [I updated this package](https://github.com/linkedtales/scrapedin-linkedin-crawler/commit/efb12b60cfcf14a8e3aef510ba58385ecea7fcac)

Thank you for your help :smile:

[2019-04-30 11:37] #2 closed, assigned to nobody

[2019-04-30 23:24] isbkch opened #3 "TimeoutError: waiting for selector "#login-email" failed: timeout 30000ms exceeded"
On mac, I followed everything, chromium is opened but I get this error after a while

[code]

Btw, the opened Linkedin page is not resized and the login button is hidden in the far right side, I'm testing on a 13" mac book air so it's not visible

[2019-05-07 02:39] Nowhy commented on #3
in windows, same issues.....

[2019-05-13 14:17] venturaEffect commented on #3
It seems I'm on the same issue using Linux...

LinkedIn page opens telling that automated software is in chrome.

Adding terminal error lines:

[code]

[2019-05-13 14:58] venturaEffect commented on #3
1. Have downgraded puppeteer like `sudo apt-get install puppeteer=1.13.0`
2. Have reinstalled chromium
3. Have done that too https://github.com/GoogleChrome/puppeteer/issues/404#issuecomment-323555784
4. Have opened manually my account on chromium.

Start npm again and opens window smaller than the web with no option to sign in...

Any help will be really appreciated :)

[2019-06-20 12:59] sjwang222 opened #4 "Irregular information loss when "maxConcurrentCrawlers" is greater than 1"
Hi there, this project is awesome and i have successfully used it to scrape some profiles. Thanks for sharing!
However, there is a small issue arising when i set 'maxConcurrentCrawlers' greater than 1. If so, some records on 'education' and 'position' are likely to be lost. Is this related to my internet speed or platform(OSX)? Thanks!

[2019-06-21 18:25] leonardiwagner opened #5 "relatedProfiles not working when relatedProfilesKeywords is empty"
if relatedProfilesKeywords : [] , the related profiles sections return as 0 profiles found

[2019-06-21 18:25] leonardiwagner opened #6 "crawler doesnt work with only 1 profile in url list"
it closes after scraping a single profile

[2019-06-22 00:09] leonardiwagner commented on #6
actually, the problem is because the cycle (1000ms) check for how many profiles are left to scrap, and when it starts with only one on the first cycle there's really no more profiles and then it closes

[2019-06-27 14:31] jeremy1392 opened #7 "Crawler doesn't work"
Hello,

Crawler doesn't work, it only scans the root profile.
(Even if we init a keyword list).

[2019-07-16 19:43] leonardiwagner commented on #4
Hi @sjwang222 , first of all sorry for the late response.

And yes, it's due your internet speed.

You can also increase the profile waiting time [here](https://github.com/linkedtales/scrapedin-linkedin-crawler/blob/master/src/scrapProfile.js#L18) , changing from 5000 to a larger number such as 10000

[2019-07-16 21:14] leonardiwagner commented on #5
fixed at https://github.com/linkedtales/scrapedin-linkedin-crawler/commit/27e103c2b9481f7ebf3e577e287b6eb9bd96898d

[2019-07-16 21:14] #5 closed, assigned to nobody

[2019-07-16 21:15] leonardiwagner commented on #6
fixed at https://github.com/linkedtales/scrapedin-linkedin-crawler/commit/27e103c2b9481f7ebf3e577e287b6eb9bd96898d

[2019-07-16 21:15] #6 closed, assigned to nobody

[2019-07-16 21:16] leonardiwagner commented on #7
Hi @jeremy1392 I fixed that bug at https://github.com/linkedtales/scrapedin-linkedin-crawler/commit/27e103c2b9481f7ebf3e577e287b6eb9bd96898d

Please clone again, or update your project with the above changes!

Please also report if it's working for you now, thank you!

[2019-07-17 03:23] sjwang222 commented on #4
@leonardiwagner Thanks for your reply~ That addresses my issues. By the way, i am curious about which part is to be adjusted when Linkedin.com updates its divs (like the changes in 12 June). Thanks!

[2019-07-17 07:22] sumitrevin opened #8 "PUPPETEER_SKIP_CHROMIUM_DOWNLOAD Isseu"
![image](https://user-images.githubusercontent.com/52994358/61355294-b2807c80-a891-11e9-8d0b-738d52935f94.png)

Getting this issue after clone your project and run sudo npm i command

[2019-07-17 15:00] leonardiwagner commented on #8
Hi @sumitrevin , the error is basically what it says, lack of directory permission, you could solve that by giving permission to that directory:

 `sudo chmod -R 777 /var/www/html/scrapedin-linkedin-crawler/node_modules/puppeteer/`

[2019-07-22 03:54] #8 closed, assigned to nobody

[2019-07-24 08:25] TianqiGeng commented on #3
in windows, same issues....
![$3020348A14B74ED9](https://user-images.githubusercontent.com/19911984/61777722-fa724700-ae2f-11e9-8be3-971028de222f.jpg)

[2019-07-24 13:05] leonardiwagner commented on #4
@sjwang222 it's here: https://github.com/linkedtales/scrapedin/blob/master/src/profileScraperTemplate.js

[2019-07-24 13:05] #4 closed, assigned to nobody

[2019-07-24 13:05] #7 closed, assigned to nobody

[2019-07-24 13:10] leonardiwagner commented on #3
@tinash we don't find for `#uc.user_0` , have you modified to search for this content?

Please post the whole error stack, the most important part of this error is about when happened in the scrapedin code. Thank you.

[2019-07-26 07:09] TianqiGeng commented on #3
Hi @leonardiwagner , thanks for your replay
![$4ADECC906730D92C](https://user-images.githubusercontent.com/19911984/61932806-da20c480-afb6-11e9-8e92-c51e09cf1e89.jpg)
this is the code, I want to log in to the website and close the page.

`
const puppeteer = require('puppeteer');
(async () => {

    const browser = await puppeteer.launch({
        headless: false,
        //对网站加信任
          ignoreH

[2019-07-26 15:30] leonardiwagner commented on #3
Hi @tinashime , you are going to "https://158.175.108.217/console" URL, what is that?

It's better to login at linkedin at `/login` instead their `/` website, since it changes sometimes, this is the page what I got on `/login`:

![Screenshot from 2019-07-26 12-27-56](https://user-images.githubusercontent.com/2164551/61962934-10ebe000-afa1-11e9-8463-ae43a12a28ff.png)

Since what you are reporting i

[2019-07-26 15:30] #3 closed, assigned to nobody

[2019-08-03 11:33] codewp opened #9 "Linkedin posts crawler"
Hi,

Thank you for this library.

It seems that it does not supports LinkedIn posts, so please let us know is it possible to crawl LinkedIn posts with this library or by adding custom codes to this library?

Thanks.

[2019-08-04 02:23] cp2296328845 opened #10 "Can this project run on Windows?"
![image](https://user-images.githubusercontent.com/25115374/62418670-b38f1780-b6a1-11e9-99cd-f181f6dcb89f.png)
When I encountered this problem on windows10.

[2019-08-04 16:06] leonardiwagner commented on #10
Hi @cp2296328845 this is a [puppeteer](https://github.com/GoogleChrome/puppeteer) error (a dependency of this project)

[There's a solution](https://github.com/GoogleChrome/puppeteer/issues/1425#issuecomment-359663629) which you can download chromium manually and point out the executable path, you can achieve that in this project editing the **[config.json](https://github.com/linkedtales/scrapedin

[2019-08-04 16:15] cp2296328845 commented on #10
thank you very much

---Original---
From: "Wagner Leonardi"<notifications@github.com>
Date: Mon, Aug 5, 2019 00:06 AM
To: "linkedtales/scrapedin-linkedin-crawler"<scrapedin-linkedin-crawler@noreply.github.com>;
Cc: "Mention"<mention@noreply.github.com>;"cp2296328845"<2296328845@qq.com>;
Subject: Re: [linkedtales/scrapedin-linkedin-crawler] Can this project run on Windows? (#10)

Hi @cp2296328845 t

[2019-08-04 22:06] leonardiwagner commented on #10
Please let me know if it worked, thanks

[2019-08-05 02:47] cp2296328845 commented on #10
Maybe I have problems with the operation. It can not work.But on linux18 it can work.But i just get one message and then i can't use my account to log in.

------------------ 原始邮件 ------------------
发件人: "Wagner Leonardi"<notifications@github.com>;
发送时间: 2019年8月5日(星期一) 上午6:06
收件人: "linkedtales/scrapedin-linkedin-crawler"<scrapedin-linkedin-crawler@noreply.github.com>;
抄送: "梦里"<2296328845@qq.com>;"

[2019-08-05 14:51] leonardiwagner commented on #10
Could you provide more info about how you can't use your account to log in?

[2019-09-16 10:48] AIkr7 opened #12 "Save to excel"
Hey, can we save all result to excel?
I am not a programmer so can you provide the code? please help me if you don't mind

Thanks

[2019-09-19 20:03] leonardiwagner commented on #12
Here: https://github.com/linkedtales/scrapedin-linkedin-crawler/blob/master/README.md#tips

[2019-09-23 14:00] jdmin445 opened #13 "avoid related profile loop"
Hi and thank you for your amzing tool!

Sometimes a related profile contain a previously scraped profil. How can we avoid this, because it may loop indefinitely :)

[2019-10-01 20:27] Netgator opened #14 "Minor profile save issues"
1.) If the config file attempts to save to a nested directory the mkDirSync is not creating the directory structure.
2.) The profile filenames are being saved as .json.json (not really an issue but looks odd.)

Pull request forthcoming...

[2019-10-08 13:12] tedvanderveen opened #16 "Crawl LinkedIn skills"
Hi! I'm looking for a way to extract a list of skills used by LinkedIn. This used to be not so hard until some two years ago, but not so anymore since the site structure changed. Any ideas on how to extract skill data?

[2019-10-10 07:32] AIkr7 commented on #12
I am not a programmer, I don't know how to rewrite it. Maybe you can share the code here if you don't mind.

It would be helpful

[2019-10-16 18:50] #12 closed, assigned to nobody

[2019-10-16 18:52] leonardiwagner commented on #9
Sorry for the late response, I'm receiving a lot of personal requests both here and on my personal e-mail.

Since I do that only in my free time, for free, it's very hard to do private requests, but I'm gonna be willing to work on that if more people request the same, thank you.

[2019-10-16 18:52] #9 closed, assigned to nobody

[2019-10-16 18:53] leonardiwagner commented on #10
closing due to lack of feedback

[2019-10-16 18:53] #10 closed, assigned to nobody

[2019-10-16 18:56] leonardiwagner commented on #13
this is quite hard to do in this library since it isn't supposed to save state, eg.: I don't know where are you saving your profiles to check if it was already crawled.

Yes, I could save on memory and that will work on the first run, but if you stop and run again.. this will be useless.

The solution is to place a code on this file, to check if user was already saved on your database, excel, file

[2019-10-16 18:56] #13 closed, assigned to nobody

[2019-10-16 18:59] leonardiwagner commented on #16
@tedvanderveen Hi, are you talking about all linkedin or in a specific location?

scrapedin only works for profile, and it's extracting the profiles skills, eg.:
[code]

[2019-10-16 19:03] leonardiwagner commented on #14
alright, I just fixed the 2nd problem since it was quite simple and I had to update the version, the fix for 1st problem is welcoming, thank you.

[2019-10-16 19:04] leonardiwagner commented on #14
oh, you already sent a PR , thank you I just merged :smile:

[2019-10-16 19:04] #14 closed, assigned to nobody

[2019-10-16 22:48] tszjqgs opened #17 "linkedin account was banned after I use this scrapper"
after I got several result , the account was banned from linkedin , so how to avoid this happen if I register another account ?

[2019-10-16 22:56] tszjqgs commented on #17
and I referenced your reply on scrapedin , there was an waitingtime parameter for that .
but for scraping multiple profiles , I use this scrapedin-linkedin-crawler , I did not find the same parameter in the src js files yet . could someone give some hint to deroute this issue? thanks

[2019-10-17 00:09] tszjqgs commented on #17
I just saw the profile wait time parameter in conf.json file , I will try enlarge that one

[2019-10-17 14:03] anasdox opened #18 "We should add package-lock.json to the repo"
Hi, thank you for sharing :)

I got the following error when i start the crawler

[code]

Could you provide the package-lock.json to be sure to get the same dependencies please.

Thanks

[2019-10-17 14:40] leonardiwagner commented on #18
Hi @anasdox this was a bug from scrapedin v1.0.9, thank you for reporting this! Solutions:

- update the scrapedin version from `1.0.9` to `1.0.10` on `package.json`
or
- manually fix the `/node_modules/scrapedin/login.js` with the [bugfix](https://github.com/linkedtales/scrapedin/commit/551e3a8894261bd9b2621be44396ef64395e626e#diff-e92d6692c88fc94484d8df419a8a1afdL6)

please report if it works, t

[2019-10-17 14:49] leonardiwagner commented on #17
Hi @tszjqgs

Honestly, I don't know how, because it's something on LinkedIn that detects the account usage and decides to block, and I'm unaware of that logic.

I suppose that's something like watching hundreds of profiles, or due to very fast clicking, so you could try:

- increase wait time seconds, to decrease the number of viewed profiles per seconds
- remove [that line](https://github.com/lin

[2019-10-17 19:07] tszjqgs commented on #17
thanks , enlarge that parameter helped

[2019-10-17 19:09] tszjqgs opened #19 "one bad profile scrap will throw error on whole process"
not sure about other users, when the scraping come across one bad profile , the whole process will stop and throw error , would it be possible to just keep the error and keep move to the next profile scraping ?

[2019-10-17 19:43] tszjqgs commented on #17
thanks, i submit the id and see what can be done after that ,still waiting response from linkedin
------------------------------------------------------------------
发件人：Wagner Leonardi <notifications@github.com>
发送时间：2019年10月17日(星期四) 22:50
收件人：linkedtales/scrapedin-linkedin-crawler <scrapedin-linkedin-crawler@noreply.github.com>
抄　送：tszjqgs <jason4ever8@aliyun.com>; Mention <mention@noreply.github

[2019-10-17 19:47] leonardiwagner commented on #19
Could you provide the error that appeared on the console?

We should be aware of what kind of error it is because sometimes it's better to fix the error to avoid losing information rather than just ignoring it.

Please check if you are using `scrapedin` version `1.0.10` on `package.json` and then run `npm install` to ensure that you are using the latest version of scrapedin

[2019-10-17 19:51] tszjqgs commented on #19
2019-10-17T18:46:57.027Z error: error on crawling profile: https://www.linkedin.com/in/joann-ball-11662294
 Error: linkedin: profile not found
(node:7266) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'length' of undefined
    at crawl (/home/Downloads/scrapedin-linkedin-crawler/src/crawler.js:26:71)
    at <anonymous>
(node:7266) UnhandledPromiseRejectionWarning: Unhandled pro

[2019-10-18 01:58] tszjqgs commented on #17
and where to inject the cookie in the scrapedin-linkedin-crawler ？ in which file ? there is not an comparable place in scrapedin (which for single profile scraping)

[2019-10-18 08:04] anasdox commented on #18
Thanks @leonardiwagner

[2019-10-18 08:04] #18 closed, assigned to leonardiwagner

[2019-10-18 09:56] anasdox opened #20 "Retry the request if failed"
Hello,

After some good crawling request, I got the following error :

[code]
We should add a retries configurable feature to avoid such problem.

[2019-10-18 10:04] anasdox opened #21 "We should avoid crawling related profiles already crawled"
Hello,

I observed that the crawler does not remember the related profiles already crawled. And some time it produce an infinite crawling loop.

[2019-10-18 10:10] anasdox opened #22 "Filter profiles to save"
Hello,

relatedProfilesKeywords allow as to filter profiles to crawl and we save all crawled profiles. It will be very usefull to filter profiles to save. what do you think @leonardiwagner ?

[2019-10-18 14:19] leonardiwagner commented on #19
Hi @tszjqgs you were right, in that case, we should skip, I fixed that: https://github.com/linkedtales/scrapedin-linkedin-crawler/pull/23/files

You can either do a `git pull` or apply those changes manually in your code

[2019-10-18 14:19] #19 closed, assigned to nobody

[2019-10-18 14:24] leonardiwagner commented on #17
I updated now the project to you place your cookies file in `config.json` see changes here: and where to inject the cookie in the scrapedin-linkedin-crawler ？ in which file ? there is not an comparable place in scrapedin (which for single profile scraping)

you can either `git pull` or apply those changes manually in your code

[2019-10-18 14:25] leonardiwagner commented on #20
Hi @anasdox , I just fixed that: https://github.com/linkedtales/scrapedin-linkedin-crawler/pull/23/files

you can either do a `git pull`  or apply those changes manually in your code, thanks

[2019-10-18 14:25] #20 closed, assigned to leonardiwagner

[2019-10-18 14:28] leonardiwagner commented on #21
same as #13

[2019-10-18 14:29] leonardiwagner commented on #21
I'm going to create an example of how this could be done and update the project

[2019-10-18 14:31] leonardiwagner commented on #22
Currently, there's  `relatedProfilesKeywords` on `config.json` where you can filter by keywords on related profile description.

Is that what you're looking for, or do you suggest other types of filtering?

[2019-10-18 19:11] tszjqgs commented on #17
thanks, I redid the git clone over again and will try it out
------------------------------------------------------------------
发件人：Wagner Leonardi <notifications@github.com>
发送时间：2019年10月18日(星期五) 22:24
收件人：linkedtales/scrapedin-linkedin-crawler <scrapedin-linkedin-crawler@noreply.github.com>
抄　送：tszjqgs <jason4ever8@aliyun.com>; Mention <mention@noreply.github.com>
主　题：Re: [linkedtales/scrapedin-

[2019-10-18 19:21] tszjqgs commented on #17
hi wangner , I installed the Editthiscookie extension in browser , and loggedin the linkedin , than I click the cookie button , click the export , and directly copy the content into the config.json at the cookie area , but the npm start can not start welll, could you please provide a user guide about the coockie useage ? thanks
------------------------------------------------------------------
发件人

[2019-10-18 20:13] tszjqgs opened #24 "insert cookie and got another error"
This time I filled into the cookie field and were able to start scrap, but after only one profile scraping, it throws an error :

scrapedin: 2019-10-18T20:09:22.541Z info: [profile] finished scraping url: https://www.linkedin.com/in/linda-b32a4815a
(node:9720) UnhandledPromiseRejectionWarning: ReferenceError: relatedProfiles is not defined
    at crawl (/home//Downloads/scrapedin-linkedin-crawler/

[2019-10-19 01:30] tszjqgs commented on #24
could you please provide a sample usage code with cookie involved ?

[2019-10-20 14:43] anasdox commented on #22
### Let take an example :
A, B, C, D...  are linkedin profiles, where "A" is the root one. let imagine the flowing :
- A.relatedProfiles = [ B, C ]
- B.relatesProfiles  = [ D, E, F, G ]
- B.description  = "CEO Founder"
- E.description  = "DevOps coach"
- F.description  = "DevOps evangelist"

**GOAL** : save only "DevOps" profiles (E and F in our example).

If we use relatedProfilesKeywords = ["Dev

[2019-10-20 16:57] leonardiwagner commented on #24
Hi @tszjqgs , really sorry, the logger should be inside the `try/catch` block as well, please update via `git pull` or update your code manually with this change: https://github.com/linkedtales/scrapedin-linkedin-crawler/pull/25/files

[2019-10-20 17:11] leonardiwagner commented on #22
@anasdox You didn't explain how `E` could be checked if even `B` we don't crawl.

Do you mean checking all related profiles anyways, and then we apply the filter on those profiles?

[2019-10-21 09:26] anasdox commented on #22
relatedProfilesKeywords = [ ]
whiteListProfilesKeywords = ["devops"]

Yes, we should crawl all related profiles and apply whiteListProfilesKeywords filter in "save" action.

[2019-10-21 10:07] anasdox commented on #21
To fix this, is fine to save crawled profiles on memory.
Hard save the crawler state, in my opinion, is another feature.

[2019-10-22 08:31] nicosh opened #26 "Scrape company employees"
Is possible to retrieve  users (and then scrape their  profiles) from company url?
Given a company url : `https://www.linkedin.com/company/mycompany`
We can have a list of employees scraping : `https://www.linkedin.com/company/mycompany/people/`
There is any built-in functionality to achieve this or should i implement this by myself?

[2019-10-22 17:09] syshex opened #27 "LinkedIn website changed and scrapedin can't read basic data"
Hey there,

Giving a go at this project and got a problem to report :

scrapedin: 2019-10-22T17:06:45.854Z error: [cleanMessageData] LinkedIn website changed and scrapedin can't read basic data. Please report this issue at https://github.com/linkedtales/scrapedin/issues
2019-10-22T17:06:45.854Z error: error on crawling profile: https://www.linkedin.com/in/XXXXXXXX/
 Error: LinkedIn website changed

[2019-10-22 17:11] leonardiwagner commented on #26
@nicosh no, currently we don't have this feature, but we're glad about receiving such contribution :smile:

this feature was already asked on [scrapedin, see here](https://github.com/linkedtales/scrapedin/issues/25) , please read my comment about how this could be implemented, thank you!

[2019-10-23 00:01] leonardiwagner commented on #27
Hi @syshex , this message could be using an old `scrapedin` version or due recent LinkedIn change in their layout:

1. please confirm in your `package.json` file that scrapedin is using `1.0.10` on `dependencies`:
[code]

run `npm install` to ensure that's version is really installed.

2. I just made a test and it works here if it isn't a version problem, please enter in the profile link that thro

[2019-10-23 00:09] tszjqgs commented on #24
Hi Leo,
is is possible to give an example of cookie usage ?

I export the cookie and copy the part of it look like below to the config.json
after cookieFile field . and running error message""

{
    "domain": ".www.linkedin.com",
    "expirationDate": 160353.006772,
    "hostOnly": false,
    "httpOnly": true,
    "name": "li_at",
    "path": "/",
    "sameSite": "unspecified",
    "secure": true

[2019-10-23 00:55] leonardiwagner commented on #24
@tszjqgs  you have to create a `cookies.json` file to place those cookies info, your files should be like this:
[code]

then, in `config.json` you should inform that file:
[code]

Notice the content of `cookies.json` file is an array of objects, should be like that:
[code]

my cookies file generally has 250~300 lines

[2019-10-23 07:30] syshex commented on #27
Hi @leonardiwagner ,

Should have been clear, the test was made yesterday, with and updated git clone of the project. So yes, the dependencies are correct, version 1.0.10.

I'll send you the two profiles that throw the error by email.

Thanks

[2019-10-23 09:40] syshex commented on #27
From checking the code and the DOM of the profile, I believe this is related to this template config

[code]

The text, or name, shall we call it, is not on a `<p>` tag.  Maybe, checking the class on the tag that wraps the name will do the trick?

[2019-10-23 15:05] leonardiwagner commented on #22
Honestly, that doesn't make much sense because if even a related profile doesn't match with your filter, the chance of a related profile of that "unrelated profile" match with your filter is very low.

But the worse problem isn't about the probability itself, it's about time, let's do an example:
- a profile scrap takes ~5 sec. to be scrapped
- a profile on average has 5 related profiles.
- it'll

[2019-10-23 18:22] tszjqgs commented on #24
thanks , it works now for cookies .
but when start crawling , there are no crawledprofiles folder created and no result shows up
and I do can be able to see the content of the profile link in browser

[2019-10-23 21:04] leonardiwagner commented on #24
hf @tszjqgs ,you could set a fixed directory on `config.json`, example:

`"saveDirectory":"home/Documents/crawledProfiles"`
or in windows `"saveDirectory": "C:/crawledProfiles"`

[2019-10-23 22:47] tszjqgs commented on #24
right now and before , it has been "saveDirectory": "./crawledProfiles",  which will show at the same path with where config.json is . but the main point is at this time , the crawledProfiles folder is not created and no information was captured and the error is like this ,I did not happen before .

2019-10-23T22:46:02.717Z info: starting scraping: https://www.linkedin.com/in/marquita-mcgee-181900

[2019-10-27 02:25] tszjqgs commented on #24
right now and before , it has been "saveDirectory": "./crawledProfiles", which will show at the same path with where config.json is . but the main point is at this time , the crawledProfiles folder is not created and no information was captured and the error is like this ,I did not happen before .
2019-10-23T22:46:02.717Z info: starting scraping: https://www.linkedin.com/in/marquita-mcgee-18190010

[2019-10-27 15:17] tedvanderveen commented on #16
All LinkedIn skills. Full set. To be able to make sure to use same base set on our site versus what is being used at LinkedIn

[2019-10-28 12:49] leonardiwagner commented on #16
@tedvanderveen The best shot about it is [looking in their official API](https://docs.microsoft.com/en-us/linkedin/) because that's about their private data.

In this project, we're only able to collect public data, I'm sorry.

[2019-10-28 12:49] #16 closed, assigned to nobody

[2019-10-29 12:48] gigaBITE397 commented on #26
Hey,

As mentioned by @a10kiloham. I do want to work on Company data scrapper.

When I submit Company URL instead of the user Profile URL, the scrapper should go to the Company page then click on see all employees and then it will see all employee data.

 1. It should click on each employee and fetch data from the profile as we already do (one by one operation).
 2. Then, it should click on view m

[2019-10-30 09:24] GiulioRossetti opened #28 "UnhandledPromiseRejectionWarning: ReferenceError: relatedProfiles is not defined"
Hi,
I've setup the crawler but it stops after having crawled 2 profiles with the following error:

    at crawl (/home/rossetti/PycharmProjects/LinkedinScraping/scrapedin-linkedin-crawler-master/src/crawler.js:31:55)
    at processTicksAndRejections (internal/process/task_queues.js:93:5)
(node:21269) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by thr

[2019-10-30 09:56] syshex commented on #27
@leonardiwagner any ideas on this ?

[2019-10-30 13:16] nicosh commented on #26
@gigaBITE397  There is no need to scrape each  Linkedin employee profile.
[Here ](https://gist.github.com/nicosh/b4ef0d2392f78a241d600806c5328952)is a really simple example on how you can scrape employees data from Company profile page.

[2019-11-03 00:06] #22 closed, assigned to leonardiwagner

[2019-11-03 00:08] leonardiwagner commented on #24
@tszjqgs are you using Windows? I can't reproduce that :cry:

[2019-11-03 00:08] #24 closed, assigned to leonardiwagner

[2019-11-03 00:11] tszjqgs commented on #24
{ profileLegacy: undefined,
profileAlternative:
 { name: 'LaKeisha Anderson',
   headline: 'School bus driver/ culinary arts (baking and pastry) school',
   location: 'Chicago, Illinois',
   connections: '35',
   summary: 'Experienced School Bus Driver skilled in Catering, Food & Beverage, Event Planning, Microsoft Excel, and Customer Service. Strong operations professional.' },

aboutLegacy: unde

[2019-11-03 00:12] tszjqgs commented on #24
I use ubuntu
------------------------------------------------------------------
发件人：Wagner Leonardi <notifications@github.com>
发送时间：2019年11月3日(星期日) 08:08
收件人：linkedtales/scrapedin-linkedin-crawler <scrapedin-linkedin-crawler@noreply.github.com>
抄　送：tszjqgs <jason4ever8@aliyun.com>; Mention <mention@noreply.github.com>
主　题：Re: [linkedtales/scrapedin-linkedin-crawler] insert cookie and got another e

[2019-11-07 10:26] gigaBITE397 commented on #27
Hello @syshex ,

I have been through the DOM configuration you provided.
But, the contents are available for the same.

I don't seem to get any issue with that

[2019-11-13 14:00] leonardiwagner commented on #28
@GiulioRossetti fixed, please update your `crawler.js` code: https://github.com/linkedtales/scrapedin-linkedin-crawler/blob/master/src/crawler.js

[2019-11-13 14:00] #28 closed, assigned to nobody

[2019-11-13 14:03] leonardiwagner commented on #27
Sorry for the late response because as @gigaBITE397 said it's working fine for me as well and I gave that low priority.

I suspect there's something different in your regional IP, I asked you to save the page as HTML and send me but you just send the source code.

I really need that you open the page manually in your browser and save as HTML because LinkedIn changes the code a lot via Javascript,

[2019-11-13 14:05] leonardiwagner commented on #17
Hi @tszjqgs I'm closing this issue because there's a lot of questions on the same issue and I'm getting lost trying to answer all of them.

Please open another issue if you still have some problem, thank you.

[2019-11-13 14:05] #17 closed, assigned to leonardiwagner

[2019-11-25 07:43] ghulammurtaza opened #29 "Scrapper doesn't close browser"
Scrapper doesn't close browser on exception or successful scrapping. If there are 100 profiles to scrap, it initiates 100 browser instances which creates memory issues.

[2019-11-26 01:41] cyanide2019 opened #30 "Error: net::ERR_INTERNET_DISCONNECTED at https://www.linkedin.com/login"
I got this error under centos 7 , this crawler was able to work but it throw the following error after I change my place to work , so any one has some idea ？

(node:6378) UnhandledPromiseRejectionWarning: Error: net::ERR_INTERNET_DISCONNECTED at https://www.linkedin.com/login
    at navigate (/home/scrapedin-linkedin-crawler/node_modules/puppeteer/lib/FrameManager.js:120:37)
    at process._tickCa

[2019-11-26 01:45] cyanide2019 commented on #29
on ubuntu or centos ？did you  manage to scrape at least one profile yet?

[2019-11-26 23:10] leonardiwagner commented on #30
@cyanide2019 could you try using cookies instead login? https://github.com/linkedtales/scrapedin/wiki/Using-Cookies-To-Login

[2019-11-26 23:13] cyanide2019 commented on #30
hi leo , since I am very new to cookie , which part of the chrome cookie
should I copy to the config.json ? can you provide a sample for that cookie
format ？ thanks lot

On Wed, Nov 27, 2019 at 7:10 AM Wagner Leonardi <notifications@github.com>
wrote:

[2019-11-27 09:01] leonardiwagner commented on #30
@cyanide2019 everything which the extension exports, which it's around 200-350 lines

[2019-12-06 08:45] mohd7469 opened #31 "No profile to crawl right now"
@leonardiwagner thanks for this great stuff i am using your library to crawl but it says **no profile to crawl right now** can you please fix this

![image](https://user-images.githubusercontent.com/12613564/70309051-6dec8200-182e-11ea-866f-656442e05d3e.png)

[2019-12-06 08:51] mohd7469 commented on #31
this is my config.json

{
  "email": "myemail@gmail.com",
  "password": "mypass",
  "cookiesFile": "./linkedincookie.txt",
  "relatedProfilesKeywords": [],
  "maxConcurrentCrawlers": 2,
  "profileLoadWaitTime": 5000,
  "saveDirectory": "./crawledProfiles",
  "puppeteerArgs": { "args": ["--no-sandbox"] },
  "isHeadless": true,
  "hasToLog": true,
  "proxyAddress": null,
  "rootProfiles": [
    "htt

[2019-12-11 12:46] leonardiwagner commented on #31
@awais786327 please insert more profiles on `rootProfiles`  at least 5.

It's a known bug the crawler stopping if there are just a few profiles to start

Please update here if placing more profiles solved your issue, thank you

[2019-12-11 12:47] leonardiwagner commented on #30
Closing due to lack of feedback

[2019-12-11 12:47] #30 closed, assigned to nobody

[2019-12-11 13:03] leonardiwagner commented on #29
that's true @ghulammurtaza , I just fixed that.

You can do a `git pull` from master, or update manually the fix with those changes: https://github.com/linkedtales/scrapedin-linkedin-crawler/pull/32/files

Please use `isHeadless: false` on config file, when it's `true` it can misbehave

[2019-12-20 14:39] leonardiwagner commented on #29
closed due to lack of feedback

[2019-12-20 14:39] #29 closed, assigned to nobody

[2019-12-20 14:40] leonardiwagner commented on #31
closed due to lack of feedback

[2019-12-20 14:40] #31 closed, assigned to leonardiwagner

[2019-12-20 22:19] leonardiwagner commented on #27
Closing due to lack of feedback

[2019-12-20 22:19] #27 closed, assigned to nobody

[2019-12-28 21:41] firmai opened #33 "Scrape Contacts"
Nice project, will this also scrape emails?

[2020-01-13 02:33] yidingww opened #34 "Is it possible to crawl job postings?"
Right now the crawler is only able to crawl the user profiles. Is it possible to use it to crawl the search result of jobs and their postings?

[2020-01-19 05:01] cyanide2019 opened #35 "happy new year , and I got this unhandledPromiseRejectionERROR"
we're going to login...
(node:5154) UnhandledPromiseRejectionWarning: Error: net::ERR_INTERNET_DISCONNECTED at https://www.linkedin.com/login
    at navigate (/home/tony/scrapedin-linkedin-crawler/node_modules/puppeteer/lib/FrameManager.js:120:37)
    at process._tickCallback (internal/process/next_tick.js:68:7)
  -- ASYNC --
    at Frame.<anonymous> (/home/tony/scrapedin-linkedin-crawler/node_mod

[2020-01-19 05:09] #35 closed, assigned to nobody

[2020-01-19 05:09] cyanide2019 commented on #35
it was network issue....

[2020-01-22 07:43] cyanide2019 opened #36 "linkedin website changed and can not read basic data"
inished scraping url: https://www.linkedin.com/in/inmudassar-iqbal-a9a9159b/
scrapedin: 2020-01-22T07:42:56.489Z error: [cleanMessageData] LinkedIn website changed and scrapedin can't read basic data. Please report this issue at https://github.com/linkedtales/scrapedin/issues
2020-01-22T07:42:56.490Z error: error on crawling profile: https://linkedin/in/mudassar-iqbal-a9a9159b/
 Error: LinkedIn we

[2020-01-23 02:24] cyanide2019 commented on #36
020-01-23T02:23:36.378Z error: error on crawling profile: https://linkedin.com/in/ahmad-abdelqader-pmp-osha-iso-70493882/
 Error: EACCES: permission denied, open './crawledProfiles/ahmad-abdelqader-pmp-osha-iso-70493882.json'
scrapedin: 2020-01-23T02:23:36.555Z info: [profile] finished scraping url: https://www.linkedin.com/in/ibrahim-saadeddine-1320b8100
2020-01-23T02:23:36.556Z error: error on c

[2020-02-11 03:01] Zackhardtoname commented on #36
Same problem

[2020-02-11 15:18] leonardiwagner commented on #36
@Zackhardtoname Are you using a company/recruiter profile to login or just a regular employee one?

Please set `isHeadless` to `false`  on  `config.json`  , this will open the browser while crawling, please check if it's really logged (looking on the LinkedIn top bar)

And also confirm that's `1.0.11` scrapedin version on your `package.json`.

@cyanide2019 could you do the same please? I couldn't

[2020-02-11 15:19] Zackhardtoname commented on #36
Regular employee

On Tue, Feb 11, 2020, 10:18 AM Wagner Leonardi <notifications@github.com>
wrote:

[2020-02-11 15:19] leonardiwagner commented on #33
yes, it is, please collaborate sending the code to integrate with this project, thank you.

[2020-02-11 15:20] leonardiwagner commented on #34
Yes, it is. Please collaborate sending the code to this project, thank you.

[2020-02-11 15:23] leonardiwagner commented on #36
@Zackhardtoname so please do the mentioned configurations and post the results here when you can.

[2020-02-11 18:34] cyanide2019 commented on #36
yes, it worked for me , now the issue is , when I trying to gather the
profile links from linkedin , they will send me warning and block my
account  and warning permanent blocking if I continue to send auto query
something , how to bypass this mechanism ?

On Tue, Feb 11, 2020 at 7:18 AM Wagner Leonardi <notifications@github.com>
wrote:

[2020-04-08 14:27] Aditya94A commented on #36
@cyanide2019 Where you able to find a solution for this?

[2020-04-29 11:14] vishaldhateria opened #37 "TypeError: Cannot read property 'replace' of undefined"
2020-04-29T11:13:53.234Z info: there is no profiles to crawl right now...
scrapedin: 2020-04-29T11:13:53.995Z info: [profile] clicking on see more buttons
2020-04-29T11:13:54.235Z info: there is no profiles to crawl right now...
scrapedin: 2020-04-29T11:13:54.326Z info: [profile] applying 2nd delay
2020-04-29T11:13:55.236Z info: there is no profiles to crawl right now...
2020-04-29T11:13:56.238Z i

[2020-04-29 18:29] gmrperdigao opened #38 "TypeError: Cannot read property 'replace' of undefined"
Hi, i'm scrapping some URLs and in most of them (almost all) i'm receiving these warnings and error messages:

[code]

I've already set `isHeadless` to `false` on `config.json` and updated the `scrapedin` version to the latest one (`1.0.14`)

[2020-05-02 21:32] leonardiwagner commented on #38
@gmrperdigao please update the scrapedin version to v`1.0.16` it was fixed thanks

[2020-05-02 21:32] #38 closed, assigned to nobody

[2020-05-02 21:32] leonardiwagner commented on #37
Please update scrapedin to v`1.0.16` on package.json, it was fixed , thank you!

[2020-05-02 21:32] #37 closed, assigned to nobody

[2020-05-05 20:26] raphaelpreston opened #40 "Node is either not visible or not an HTMLElement"
ScrapedIn Version: 1.0.16
Windows 10 Home Build: 18362.778
WSL: Ubuntu 18.04

Hopefully this isn't because I'm using @mNpenner's [creative fix](https://github.com/puppeteer/puppeteer/issues/1837#issuecomment-522850970) to get the puppeteer dependency to work (since I'm using WSL).

The browser successfully opens, logs into LinkedIn, navigates to the profile page, and scrolls down. That's when the

[2020-05-07 19:30] raphaelpreston commented on #40
Realized I posted in the wrong place. Reposted in the [scrapedin ](https://github.com/linkedtales/scrapedin/issues/94)repo.

[2020-05-07 19:30] #40 closed, assigned to nobody

[2020-05-15 11:12] pushparmar commented on #36
What is the use of
"rootProfiles": [
    "https://www.linkedin.com/in/place/",
    "https://www.linkedin.com/in/here/",
    "https://www.linkedin.com/in/profiles/",
    "https://www.linkedin.com/in/to-start-the-crawler/"
  ]
in config.json?

Also, I want to search the profiles based on some particular keywords, but
"relatedProfilesKeywords": ["javascript"], does not seems to work.

[2020-05-15 11:15] PriyaJainDev commented on #21
What is the use of
"rootProfiles": [
    "https://www.linkedin.com/in/place/",
    "https://www.linkedin.com/in/here/",
    "https://www.linkedin.com/in/profiles/",
    "https://www.linkedin.com/in/to-start-the-crawler/"
  ]

and

"relatedProfilesKeywords": ["react"] ?

I tried using "relatedProfilesKeywords": ["react"], to search only the profiles that have 'react' (as keyword) in their skill set

[2020-05-15 13:16] PriyaJainDev commented on #36
@cyanide2019 Is there any way that I can use particular keywords and then the crawler can search through all available profiles based on those keywords only?

[2020-05-15 19:55] PriyaJainDev opened #41 "Infinite crawling"
If I need to scroll through, say 10 LinkedIn profile URLs, the crawler after successfully crawling through the 10 URL links provided into the `rootProfiles`, keep on executing. It keeps on returning the logger as:

`2020-05-15T19:53:36.399Z info: starting scraping: undefined
show urls undefined
2020-05-15T19:53:36.401Z error: error on crawling profile: undefined
 TypeError: Cannot read property 'i

[2020-05-19 17:54] gmrperdigao opened #42 "TypeError: Cannot read property 'replace' of undefined"
Hi, i'm scrapping some URLs and in some of them i'm receiving these warnings and error messages:

[code]

I've already set `isHeadless` to `false` on `config.json` and updated the `scrapedin` version to the latest one (`1.0.16`)

Another question is if the program finishes after crawling all the profiles. I keep getting the message:
``` info: there is no profiles to crawl right now... ```
but it d

[2020-05-27 14:42] ThomasProctor commented on #36
It's a *little* hard to follow what was happening here, but I *think* I had the same problem. Login from credentials doesn't work with headless, but everything works fine with the "headed" browser. Headless works fine with cookies for me though.

I suspect that they might just be checking the `user-agent` in the header and refusing to log you in or giving you a captcha if it says that it's headles

[2020-05-27 14:47] ThomasProctor commented on #36
If I get the time, I'll do some more experimentation and open a separate issue if I really have a diagnosable problem.

[2020-06-03 21:25] leonardiwagner commented on #42
@gmrperdigao please update the scrapedin version to `v1.0.18` it was fixed

info: there is no profiles to crawl right now...
but it don't terminate the job

This is because it's quite hard to detect if there still profiles to scrape while scraping others, is that approach an issue to your business?

[2020-06-03 21:25] #42 closed, assigned to nobody

[2020-06-03 21:31] leonardiwagner commented on #41
Yes, you could implement code on `crawler.js` to check if it has more profiles to crawl

PR is welcomed, thanks

[2020-06-05 21:00] ThomasProctor opened #44 "Make `WORKER_INTERVAL_MS` a configurable parameter"
This is something I've found useful for throttling my scrapes to avoid being banned. It just requires 3 changed lines of code.

[2020-06-09 21:56] leonardiwagner commented on #44
Could you explain how much of time prevents you from being banned? Thank you!

[2020-06-16 18:44] ThomasProctor commented on #44
Right now, I know that the default - 1000 ms - has gotten me banned after scraping around 200 profiles. I've been able to safely scrape with a value *much* higher than that - 100000 ms or so.

I've been basing my experience off numbers I've gotten from PhantomBuster, which seem to be incredibly conservative. I'm still working on finding exactly what level I can get away with. I'm assuming it depen

[2020-07-20 09:39] junhua opened #48 "Allow exporting the newly found profiles urls"
Currently the newly found profile URLs just added to the list. Is it possible to create an option to export them to a csv file?

[2020-07-22 00:48] eanmikale opened #49 "Error Codes for NPM Start - Internal Modules Loader Error"
~/crawler$ npm start
(node:16966) [DEP0139] DeprecationWarning: Calling process.umask() with no arguments is prone to race conditions and is a potential security vulnerability.
(Use `node --trace-deprecation ...` to show where the warning was created)

internal/modules/cjs/loader.js:1288
    throw err;
    ^

SyntaxError: /home/infiniteiotnode1/crawler/config.json: Unexpected token ] in JSON at po

[2020-08-15 00:51] ishandutta2007 opened #50 "Skip Profiles already downloaded"
Is there an option to skip profiles that are already downloaded in "saveDirectory".
The reason I am asking this is whenever it encounters some error and have to run it again with same "rootProfiles", it starts downloading everything from scratch, why can't it process filenames already present in "saveDirectory" and parse accordingly?

[2020-09-01 12:50] jeremiah-94 commented on #26
I do alot of LinkedIn scraping for company's employees as well but find it quite difficult running a scrapper due to the limitation in volume. I'm embarrassed to say but i ultimately gave up and resorted to a paid service, [Mantheos ](https://profiles.mantheos.com/)which has an API that allows me to extract LinkedIn profile data at mass. Sharing here in case anyone requires something like this.

[2020-09-01 12:54] jeremiah-94 commented on #33
I have looked through the project but find that emails cannot be scrapped if they are not public. That results in a lower % of emails that are available and obtainable via scraping. I ended up resorting to a paid solution Mantheos[https://profiles.mantheos.com/](url) that has an API that allows me to extract contact information at mass whether it is public or private profiles.

[2020-09-23 18:43] bgadiel opened #51 "Q: Disable scraping connections"
Hello,
Is it possible to download only the provided root profiles (without each profile's connections)?
Thanks.

[2020-09-23 18:51] bgadiel commented on #51
Found it:
Disabled this:
[code]

[2020-09-23 18:51] #51 closed, assigned to nobody

[2020-09-29 09:23] jouhoff opened #52 "update scrapedin to 1.0.21"
hi all

just tried to use this scraper but either headless or not let's my bot endup on an unavailable page. Root is set, keyword also used before but it ends with this error message.

scrapedin: 2020-09-29T08:36:11.362Z info: [profile/scrollToPageBottom.js] scrolling to page bottom (25)
scrapedin: 2020-09-29T08:36:11.363Z warn: [profile/scrollToPageBottom.js] page bottom not found
scrapedin: 2020

[2020-09-30 13:06] anubhavmalik opened #53 "Scraping only given profiles"
I am curious if I can scrape only a given set of profiles through this?

`rootProfiles` in config.json contains the URLs of from where to scrape and not the actual profile urls. Is there a provision to do that?

[2020-10-22 07:57] ganeshBUnbound commented on #26
@nicosh I tried your method too, but using a voyager path means going through LinkedIn official APIs. I don't want to use that.
I want to implement in the same way as we do for the contacts extraction. As @leonardiwagner said, I tried creating profile.js for the company too. But it's not working either.

[2020-10-23 22:00] abhij89 commented on #53
Read the README file of the project, it says:

[2020-10-26 13:02] anubhavmalik commented on #53
@abhij89 That is not what I my question says. Allow me to phrase it in a more descriptive manner.

I want the crawler to just go to a pre-defined set of URLs, that's it. Right now the crawler gets profiles from related, etc.

I don't want it to do that. I just want profile data for a given list of LinkedIn profile URLs which I can provide it.

[2020-12-19 20:26] #52 closed, assigned to nobody

[2020-12-28 15:19] senecalikedmochas opened #55 ""There is no profiles to crawl right now", despite filling in rootProfiles in config.json"
Hello!

Not sure if I'm missing anything, but I filled in the rootProfiles in config.json, and when I do npm start, it seems to be running an infinite loop with the following message -> "There is no profiles to crawl right now".

I'd appreciate any help! Thank you

[2021-01-11 18:39] syd-caroline opened #56 "LinkedIn Company/People Python Scraper"
I am trying to write a Python code that searches companies on Linkedin, and under people, will enter my desired keywords and collected the links (or just job title/name) of the individual employees.

So far I have used selenium webdriver to open linkedin and login.

Open the company page and loop through keyword search.

[code]

It seems simple, however, I cannot find what I should be asking the p

[2021-02-19 08:23] ueembio commented on #55
I am facing the same issue

[2021-02-19 16:27] timijntema commented on #55
Most likely just the app not being up to date with the current Linkedin web page

[code]

[2021-02-19 16:32] timijntema commented on #55
https://github.com/linkedtales/scrapedin/issues/152 is where the issue is reported. This is the dependency that is used by the crawler

[2021-03-07 17:32] Shwarlee commented on #55
Same issue

[2021-04-13 17:40] Adilmar commented on #55
Same issue :(

[2021-08-19 18:07] SanchitaSinha commented on #55
Same issue.